<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}login.title{% endtrans %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/security.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-signin" action="{{ path('dziuba_user_login') }}" method="post">
            <div class="text-center mb-4">
                <img class="mb-4" src="{{ asset('img/admin-logo.png') }}" alt="">
            </div>

            <div class="form-label-group">
                <input type="text" id="username" name="_username" class="form-control" placeholder="{% trans %}login.username{% endtrans %}" value="{{ last_username }}" required autofocus>
                <label for="username">{% trans %}login.username{% endtrans %}</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="{% trans %}login.password{% endtrans %}" required>
                <label for="password">{% trans %}login.password{% endtrans %}</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me" name="_remember_me"> {% trans %}login.rememberme{% endtrans %}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}login.login{% endtrans %}</button>
            <p class="mt-5 mb-3 text-muted text-center"><a href="http://dsoft.pl" target="_blank">DSoft</a> &copy; {{ "now"|date("Y") }}</p>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
        </form>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>