<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}security.password_reset{% endtrans %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/security.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <form class="form-signin" method="post">
            <div class="text-center mb-4">
                <h1>{% trans %}security.password_reset{% endtrans %}</h1>
            </div>

            <div class="form-label-group">
                <input type="text" id="password1" name="user[plainPassword][first]" class="form-control" placeholder="{% trans %}security.password{% endtrans %}" required autofocus>
                <label for="password1">{% trans %}security.password{% endtrans %}</label>
            </div>
            <div class="form-label-group">
                <input type="text" id="password2" name="user[plainPassword][second]" class="form-control" placeholder="{% trans %}security.password_repeat{% endtrans %}" required autofocus>
                <label for="password2">{% trans %}security.password_repeat{% endtrans %}</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Send{% endtrans %}</button>
            <p class="mt-5 mb-3 text-muted text-center"><a href="http://dsoft.pl" target="_blank">DSoft</a> &copy; {{ "now"|date("Y") }}</p>           

            {{ form_row(form._token) }}
        </form>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>