<h3>{% trans %}security.password_reset.mail_title{% endtrans %}</h3>

<a href="{{ url('dziuba_user_password_reset_confirm', {'passwordToken': token}) }}">{{ url('dziuba_user_password_reset_confirm', {'passwordToken': token}) }}</a>.


